*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	/* set 1rem to 10px */
	font-size: 62.5%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
		"Open Sans", "Helvetica Neue", sans-serif;
	font-size: 2rem;
	line-height: 1.5;
	font-weight: 400;
	background-image: url(./images/sky.webp);
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	/* height: 100vh; */
	/* color: white; */
}

.flex {
	display: flex;
	flex-direction: row;
}

.flex-centered {
	justify-content: center;
	align-items: center;
}

.grid {
	display: grid;
	grid-template-columns: minmax(0, 1fr);
	justify-items: center;
	align-items: center;
}

@media screen and (min-width: 768px) {
	.grid-cols-2 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}

@media screen and (min-width: 1024px) {
	.grid-cols-3 {
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

.nav-bar {
	background-color: #000;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	padding: 1.5rem;
}

@media screen and (min-width: 768px) {
	.nav-bar {
		flex-direction: row;
	}
}

.nav__title {
	font-size: 3rem;
	margin: 1rem;
}

.spinner {
	width: 100px;
	height: 100px;
}

.icon {
	/* width: 40px;
	height: 40px; */
	margin-right: 1rem;
	/* fill: white; */
}

.container {
	margin: 0 auto;
	text-align: center;
	padding: 2rem;
}

.container__background {
	padding: 4rem;
	margin-bottom: 3rem;
	background-color: black;
	color: white;
	opacity: 0.7;
	border: 2px solid #fff;
	border-radius: 20px;
	max-width: 400px;
}

.weather {
	max-width: 800px;

	/* max-width: 400px; */
	/* text-align: center; */
	/* max-width: 450px;
	min-width: 300px; */
}

.weather__icon {
	width: 100px;
	height: 100px;
	margin-right: 1.5rem;
}

.weather__location {
	font-size: 2.5rem;
	/* font-weight: bold; */
	/* text-align: center; */
}

.weather__temp {
	font-size: 6rem;
}

.weather__condition {
	font-size: 3rem;
	/* text-align: center; */
}

.weather__updated {
	/* font-size: 1.5rem; */
	/* text-align: center; */
	padding-top: 1rem;
	/* font-weight: bold; */
}
/* 
.weather__data {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-content: center;
	align-items: center;
	grid-template-rows: repeat(2, 200px);
} */

.weather__data {
	/* flex-wrap: wrap;
	justify-content: space-between; */
	/* max-width: 200px; */
}

.weather__data p {
	text-align: left;
	border-bottom: 1px solid #fff;
	margin-bottom: 2rem;
	padding-bottom: 0.5rem;
	font-size: 2rem;
	display: flex;
	align-items: center;
	max-width: 500px;
}

.btn {
	border-radius: 5px;
	border: none;
	cursor: pointer;
	font-size: 1.8rem;
	font-weight: 600;
	margin: 2rem 1rem 1rem;
	padding: 1.5rem;
	text-align: center;
	text-transform: uppercase;
	white-space: nowrap;
	/* margin: 3rem 1rem 1rem; */
}

.btn--primary {
	background-color: white;
	color: #000;
}
.btn--primary:hover {
	background-color: rgb(180, 180, 180);
}

/* .btn--secondary {
	background-color: gray;
	color: white;
}

.btn--secondary:hover {
	background-color: rgb(100, 100, 100);
} */

.btn--secondary {
	background-color: rgb(56, 56, 56);
	color: white;
}

.btn--secondary:hover {
	background-color: rgb(100, 100, 100);
}

.search-group {
	border: 1px solid #ccc;
	border-radius: 50px;
	display: flex;
	background-color: white;
	max-width: 400px;
	margin: 2rem auto 0;
}

.search-label {
	font-size: 2.5rem;
	font-weight: bold;
}

.search-form {
	margin-top: 3rem;
}

.search {
	padding: 1rem 3.5rem;
	border: 1px solid #ccc;
	/* border-radius: 50px; */
	outline: none;
	/* color: var(--color-heading); */
	font-size: 2rem;
	border-top-left-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: white;
}

.search-group .search {
	border: none;
	padding: 1rem 2.5rem;
	flex-grow: 1;
	width: 100%;
}

.search-group .btn {
	margin: 3px;
	border-radius: 40px;
}

.refresh {
	cursor: pointer;
}

.refresh .icon {
	margin: 0;
}

.not-found {
	/* text-align: center; */
	background-color: rgb(170, 0, 0);
	color: white;
	border: 2px solid black;
	border-radius: 10px;
	font-size: 2.5rem;
	padding: 2rem;
	max-width: 400px;
	margin: 1rem auto;
}

.forecast {
	text-align: left;
	margin-right: 2rem;
	/* margin-bottom: 5rem; */
}

.forecast__header {
	text-align: center;
}

.forecast__condition {
	justify-content: start;
	align-items: center;
}

.forecast__list {
	padding-left: 4rem;
}

.forecast__list li {
	margin-bottom: 1rem;
}
